In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Resources/ANG_final_data.csv')
df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVMI,PREVCHD,PREVAP,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,ANGINA,TIMEAP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,0,0,0,0,0,1,0,0,8766
1,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,0,0,0,0,1,0,0,8766
2,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,0,0,0,0,1,0,0,8766
3,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,0,0,0,0,1,0,1,1,0,2956
4,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,0,0,0,0,0,1,0,0,8766

In [3]:
ANG_df = df.set_index('RANDID')
ANG_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,PREVMI,PREVCHD,PREVAP,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,ANGINA,TIMEAP
RANDID,,,,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,...,0,0,0,0,1,0,1,1,0,2956
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,...,0,0,0,0,0,0,1,0,0,8766

In [4]:
# Number of hospitalizations for myocardial infarctions and number of non-events
ANG_count=ANG_df.loc[(ANG_df['ANGINA']==1)]
no_event_count = ANG_df.loc[(ANG_df['ANGINA']==0)]

print(f"Subjects afflicted with Angina: {len(ANG_count)}")
print(f"Subjects with no Angina events: {len(no_event_count)}")

Subjects afflicted with Angina: 0
Subjects with no Angina events: 3286

In [5]:
ANG_df.columns

Index(['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVMI', 'PREVCHD',
       'PREVAP', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD', 'DEATH', 'ANGINA',
       'TIMEAP'],
      dtype='object')

In [6]:
ANG_reg_df = ANG_df[['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVCHD', 'PREVAP',
       'PREVMI', 'PREVSTRK', 'PREVHYP', 'ANGINA']]
ANG_reg_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,ANGINA
RANDID,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,0,0,0,0
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0,0,0,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0,0,0,0
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,65.0,103.0,0,0,0,0,1,0
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0,0,0,0,0

In [7]:
X = ANG_reg_df.drop('ANGINA', axis=1)
y = ANG_reg_df['ANGINA']
print(X.shape, y.shape)

(3286, 17) (3286,)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [10]:
classifier.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0