In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Resources/HYP_final_data.csv')
df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVMI,PREVCHD,PREVAP,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,HYPERTEN,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,0,0,0,0,0,1,0,0,8766
1,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,0,0,0,0,1,0,0,8766
2,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,0,0,0,0,1,0,0,8766
3,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,0,0,0,0,0,1,0,1,4285
4,12629,2,205.0,63,138.0,71.0,0,0.0,33.11,0,...,0,0,0,0,0,0,1,0,1,2212

In [3]:
HYP_df = df.set_index('RANDID')
HYP_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,PREVMI,PREVCHD,PREVAP,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,HYPERTEN,TIMEHYP
RANDID,,,,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,...,0,0,0,0,0,0,1,0,1,4285
12629,2,205.0,63,138.0,71.0,0,0.0,33.11,0,0.0,...,0,0,0,0,0,0,1,0,1,2212

In [4]:
#Number of events for Hypertension calls and number of non-events
HYP_count = HYP_df.loc[(HYP_df['HYPERTEN']==1)]
no_event_count = HYP_df.loc[(HYP_df['HYPERTEN']==0)]

print(f'Subjects afflcited with HYP: {len(HYP_count)}')
print(f'Subjects with no HYP events: {len(no_event_count)}')

Subjects afflcited with HYP: 1608
Subjects with no HYP events: 1046

In [5]:
HYP_df.columns

Index(['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVMI', 'PREVCHD',
       'PREVAP', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD', 'DEATH', 'HYPERTEN',
       'TIMEHYP'],
      dtype='object')

In [6]:
HYP_reg_df = HYP_df[['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
                    'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVCHD', 'PREVAP', 
                    'PREVMI', 'PREVSTRK', 'PREVHYP', 'HYPERTEN']]
HYP_reg_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,HYPERTEN
RANDID,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,0,0,0,0
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0,0,0,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0,0,0,0
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0,0,0,0,1
12629,2,205.0,63,138.0,71.0,0,0.0,33.11,0,0.0,60.0,85.0,0,0,0,0,0,1

In [9]:
X = HYP_reg_df.drop('HYPERTEN', axis=1)
y = HYP_reg_df['HYPERTEN']
print(X.shape, y.shape)

(2654, 17) (2654,)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [16]:
classifier.fit(X_train, y_train)

C:\Users\mainframe\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [18]:
print(f'Training Data Score: {classifier.score(X_train, y_train)}')
print(f'Testing Data Score: {classifier.score(X_test, y_test)}')

Training Data Score: 0.650251256281407
Testing Data Score: 0.6626506024096386

In [21]:
predictions = classifier.predict(X_test)
HYP_predictions = pd.DataFrame({'Prediction': predictions, 'Actual': y_test}).reset_index(drop=True)
HYP_predictions

     Prediction  Actual
0             1       1
1             1       1
2             0       1
3             0       1
4             1       1
5             1       1
6             1       1
7             0       0
8             0       1
9             1       0
10            1       0
11            0       1
12            1       1
13            1       0
14            1       1
15            0       0
16            0       0
17            1       1
18            1       1
19            1       1
20            1       0
21            1       1
22            1       0
23            1       1
24            1       1
25            1       1
26            1       0
27            1       1
28            0       0
29            0       1
..          ...     ...
634           1       1
635           1       0
636           1       1
637           1       1
638           1       1
639           0       0
640           1       0
641           1       1
642           1       0
643           1       0
644           1       1
645           1       0
646           1       1
647           0       0
648           1       1
649           1       1
650           0       1
651           1       1
652           1       0
653           1       0
654           1       1
655           1       1
656           1       1
657           1       0
658           1       1
659           0       0
660           1       0
661           1       0
662           1       0
663           1       1

[664 rows x 2 columns]

In [24]:
no_event = HYP_predictions.loc[(HYP_predictions['Prediction']==0) & (HYP_predictions['Actual']==0)]
event = HYP_predictions.loc[(HYP_predictions['Prediction']==1) & (HYP_predictions['Actual']==1)]
p0a1 = HYP_predictions.loc[(HYP_predictions['Prediction']==1) & (HYP_predictions['Actual']==1)]
p1a0 = HYP_predictions.loc[(HYP_predictions['Prediction']==1) & (HYP_predictions['Actual']==0)]

In [25]:
print(f"Event prediction and actual = 0:  {len(no_event)}")
print(f"Event prediction and actual = 1:  {len(event)}")
print(f"Event prediction = 0 and actual = 1:  {len(p0a1)}")
print(f"Event prediction = 1 and actual = 0:  {len(p1a0)}")

Event prediction and actual = 0:  98
Event prediction and actual = 1:  342
Event prediction = 0 and actual = 1:  342
Event prediction = 1 and actual = 0:  181