In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Resources/STROKE_final_data.csv')
df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,GLUCOSE,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,STROKE
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,77.0,0,0,0,0,0,0,1,0,0
1,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,76.0,0,0,0,0,0,0,1,0,0
2,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,70.0,0,0,0,0,0,0,1,0,0
3,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,103.0,0,0,0,0,1,0,1,1,1
4,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,85.0,0,0,0,0,0,0,1,0,0

In [3]:
stroke_df = df.set_index('RANDID')
stroke_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,GLUCOSE,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,STROKE
RANDID,,,,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,77.0,0,0,0,0,0,0,1,0,0
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,76.0,0,0,0,0,0,0,1,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,...,70.0,0,0,0,0,0,0,1,0,0
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,...,103.0,0,0,0,0,1,0,1,1,1
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,...,85.0,0,0,0,0,0,0,1,0,0

In [4]:
stroke_df[["PREVSTRK", "PERIOD"]].describe()

       PREVSTRK  PERIOD
count    3901.0  3901.0
mean        0.0     1.0
std         0.0     0.0
min         0.0     1.0
25%         0.0     1.0
50%         0.0     1.0
75%         0.0     1.0
max         0.0     1.0

In [5]:
stroke_df["STROKE"].value_counts()

0    3557
1     344
Name: STROKE, dtype: int64

In [6]:
stroke_df.columns

Index(['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVCHD', 'PREVAP',
       'PREVMI', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD', 'DEATH', 'STROKE'],
      dtype='object')

In [7]:
stroke_reg_df = stroke_df[['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVCHD', 'PREVAP',
       'PREVMI', 'PREVHYP', 'STROKE']]
stroke_reg_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVCHD,PREVAP,PREVMI,PREVHYP,STROKE
RANDID,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,0,0,0
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0,0,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0,0,0
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,65.0,103.0,0,0,0,1,1
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0,0,0,0

In [8]:
X = stroke_reg_df.drop('STROKE', axis=1)
y = stroke_reg_df['STROKE']

target_names = ["negative", "positive"]
print(X.shape, y.shape)

(3901, 16) (3901,)

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

# Transform the training and testing data using the X_scaler and y_scaler models

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [12]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [13]:
print(f'Training Data Score: {classifier.score(X_train_scaled, y_train)}')
print(f'Testing Data Score: {classifier.score(X_test_scaled, y_test)}')

Training Data Score: 0.9165811965811966
Testing Data Score: 0.8985655737704918

In [14]:
predictions = classifier.predict(X_test_scaled)
stroke_predictions = pd.DataFrame({'Prediction': predictions, 'Actual': y_test}).reset_index(drop=True)
stroke_predictions

     Prediction  Actual
0             0       0
1             0       1
2             0       1
3             0       0
4             0       0
..          ...     ...
971           0       0
972           0       0
973           0       0
974           0       0
975           0       0

[976 rows x 2 columns]

In [15]:
no_event = stroke_predictions.loc[(stroke_predictions['Prediction']==0) & (stroke_predictions['Actual']==0)]
event = stroke_predictions.loc[(stroke_predictions['Prediction']==1) & (stroke_predictions['Actual']==1)]
p0a1 = stroke_predictions.loc[(stroke_predictions['Prediction']==0) & (stroke_predictions['Actual']==1)]
p1a0 = stroke_predictions.loc[(stroke_predictions['Prediction']==1) & (stroke_predictions['Actual']==0)]

In [16]:
print(f"Event prediction and actual = 0:  {len(no_event)}")
print(f"Event prediction and actual = 1:  {len(event)}")
print(f"Event prediction = 0 and actual = 1:  {len(p0a1)}")
print(f"Event prediction = 1 and actual = 0:  {len(p1a0)}")

Event prediction and actual = 0:  876
Event prediction and actual = 1:  1
Event prediction = 0 and actual = 1:  99
Event prediction = 1 and actual = 0:  0

In [17]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    negative       0.90      1.00      0.95       876
    positive       1.00      0.01      0.02       100

    accuracy                           0.90       976
   macro avg       0.95      0.51      0.48       976
weighted avg       0.91      0.90      0.85       976