CSV IMPORT

In [5]:
#install dependencies
import pandas as pd

In [6]:
df = pd.read_csv("Resources/frmgham2.csv")
df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766

In [7]:
df.columns

Index(['RANDID', 'SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE',
       'CIGPDAY', 'BMI', 'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'educ',
       'PREVCHD', 'PREVAP', 'PREVMI', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD',
       'HDLC', 'LDLC', 'DEATH', 'ANGINA', 'HOSPMI', 'MI_FCHD', 'ANYCHD',
       'STROKE', 'CVD', 'HYPERTEN', 'TIMEAP', 'TIMEMI', 'TIMEMIFC', 'TIMECHD',
       'TIMESTRK', 'TIMECVD', 'TIMEDTH', 'TIMEHYP'],
      dtype='object')

Hopsitalized for Stroke

In [8]:
#filter for Period = 1 and PrevMI = 0
PREVSTRK_df = df.loc[(df["PERIOD"]==1) & (df["PREVSTRK"]==0)]
PREVSTRK_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
5,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
7,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,1,1,2956,2956,2956,2956,2089,2089,2956,0
9,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11613,9990894,2,248.0,48,131.0,72.0,1,20.0,22.00,0,...,0,1,6433,6433,6433,6433,6433,6433,6433,2219
11616,9993179,2,210.0,44,126.5,87.0,1,15.0,19.16,0,...,0,1,6729,6729,6729,6729,6729,6729,6729,4396
11619,9995546,2,269.0,52,133.5,83.0,0,0.0,21.47,0,...,1,1,5939,8766,5209,5209,8766,5209,8766,735
11621,9998212,1,185.0,40,141.0,98.0,0,0.0,25.60,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,0
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201

In [10]:
PREVSTRK_columns = ['RANDID', 'SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE',
       'CIGPDAY', 'BMI', 'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE',
       'PREVCHD', 'PREVAP', 'PREVMI', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD',
        'DEATH', 'TIMEMI', 'TIMEMIFC']
PREVSTRK_df = PREVSTRK_df[PREVSTRK_columns]
PREVSTRK_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,TIMEMI,TIMEMIFC
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,0,0,0,0,0,1,0,6438,6438
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,0,0,0,0,1,0,8766,8766
5,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,0,0,0,0,1,0,8766,8766
7,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,0,0,0,0,1,0,1,1,2956,2956
9,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,0,0,0,0,0,1,0,8766,8766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11613,9990894,2,248.0,48,131.0,72.0,1,20.0,22.00,0,...,0,0,0,0,0,0,1,1,6433,6433
11616,9993179,2,210.0,44,126.5,87.0,1,15.0,19.16,0,...,0,0,0,0,0,0,1,1,6729,6729
11619,9995546,2,269.0,52,133.5,83.0,0,0.0,21.47,0,...,0,0,0,0,0,0,1,0,8766,5209
11621,9998212,1,185.0,40,141.0,98.0,0,0.0,25.60,0,...,0,0,0,0,1,0,1,0,8766,8766
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,0,0,0,0,0,0,1,0,8766,8766

In [11]:
PREVSTRK_df.isnull().sum()

RANDID        0
SEX           0
TOTCHOL      52
AGE           0
SYSBP         0
DIABP         0
CURSMOKE      0
CIGPDAY      31
BMI          17
DIABETES      0
BPMEDS       60
HEARTRTE      1
GLUCOSE     395
PREVCHD       0
PREVAP        0
PREVMI        0
PREVSTRK      0
PREVHYP       0
TIME          0
PERIOD        0
DEATH         0
TIMEMI        0
TIMEMIFC      0
dtype: int64

In [12]:
PREVSTRK_final_df = PREVSTRK_df.dropna()
PREVSTRK_final_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,TIMEMI,TIMEMIFC
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,0,0,0,0,0,1,0,6438,6438
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,0,0,0,0,1,0,8766,8766
5,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,0,0,0,0,1,0,8766,8766
7,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,0,0,0,0,1,0,1,1,2956,2956
9,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,0,0,0,0,0,1,0,8766,8766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11608,9984683,1,313.0,50,179.0,92.0,1,1.0,25.97,0,...,0,0,0,0,1,0,1,1,1884,1884
11610,9989287,1,207.0,51,126.5,80.0,1,43.0,19.71,0,...,0,0,0,0,0,0,1,1,7746,7746
11619,9995546,2,269.0,52,133.5,83.0,0,0.0,21.47,0,...,0,0,0,0,0,0,1,0,8766,5209
11621,9998212,1,185.0,40,141.0,98.0,0,0.0,25.60,0,...,0,0,0,0,1,0,1,0,8766,8766
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,0,0,0,0,0,0,1,0,8766,8766

In [13]:

PREVSTRK_final_df.to_csv("PREVSTRK_final_data.csv", index=False)

In [14]:
PREVSTRK_g_df = PREVSTRK_df.drop(columns=["GLUCOSE"])
PREVSTRK_g_final_df = PREVSTRK_g_df.dropna()
PREVSTRK_g_final_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,TIMEMI,TIMEMIFC
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,0,0,0,0,0,1,0,6438,6438
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,0,0,0,0,1,0,8766,8766
5,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,0,0,0,0,1,0,8766,8766
7,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,0,0,0,0,1,0,1,1,2956,2956
9,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,0,0,0,0,0,1,0,8766,8766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11610,9989287,1,207.0,51,126.5,80.0,1,43.0,19.71,0,...,0,0,0,0,0,0,1,1,7746,7746
11616,9993179,2,210.0,44,126.5,87.0,1,15.0,19.16,0,...,0,0,0,0,0,0,1,1,6729,6729
11619,9995546,2,269.0,52,133.5,83.0,0,0.0,21.47,0,...,0,0,0,0,0,0,1,0,8766,5209
11621,9998212,1,185.0,40,141.0,98.0,0,0.0,25.60,0,...,0,0,0,0,1,0,1,0,8766,8766
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,0,0,0,0,0,0,1,0,8766,8766

In [15]:
PREVSTRK_g_final_df.isnull().sum()

RANDID      0
SEX         0
TOTCHOL     0
AGE         0
SYSBP       0
DIABP       0
CURSMOKE    0
CIGPDAY     0
BMI         0
DIABETES    0
BPMEDS      0
HEARTRTE    0
PREVCHD     0
PREVAP      0
PREVMI      0
PREVSTRK    0
PREVHYP     0
TIME        0
PERIOD      0
DEATH       0
TIMEMI      0
TIMEMIFC    0
dtype: int64

In [16]:
PREVSTRK_3_df = df.loc[(df["PERIOD"]==3) & (df["PREVSTRK"]==0)]
PREVSTRK_3_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
11,11252,2,NaN,58,155.0,90.0,1,30.0,24.61,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4285
14,11263,2,220.0,55,180.0,106.0,0,0.0,31.17,1,...,1,1,8766,8766,5719,5719,8766,5719,8766,0
19,12806,2,320.0,57,110.0,46.0,1,30.0,22.02,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,8679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11612,9989287,1,NaN,63,120.0,80.0,1,50.0,17.38,0,...,0,0,7746,7746,7746,7746,7746,7746,7746,7746
11615,9990894,2,228.0,60,205.0,100.0,1,20.0,22.37,0,...,0,1,6433,6433,6433,6433,6433,6433,6433,2219
11618,9993179,2,251.0,56,145.0,92.0,1,35.0,21.97,0,...,0,1,6729,6729,6729,6729,6729,6729,6729,4396
11623,9998212,1,153.0,52,143.0,89.0,0,0.0,25.74,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,0
11626,9999312,2,NaN,50,147.0,96.0,1,10.0,24.19,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201

In [19]:
PREVSTRK_3_df.isnull().sum()

RANDID        0
SEX           0
TOTCHOL     207
AGE           0
SYSBP         0
DIABP         0
CURSMOKE      0
CIGPDAY      11
BMI          15
DIABETES      0
BPMEDS      435
HEARTRTE      3
GLUCOSE     552
PREVCHD       0
PREVAP        0
PREVMI        0
PREVSTRK      0
PREVHYP       0
TIME          0
PERIOD        0
HDLC        229
LDLC        230
DEATH         0
TIMEMI        0
TIMEMIFC      0
dtype: int64

In [22]:
PREVSTRK_3_columns = ['RANDID', 'SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE',
       'CIGPDAY', 'BMI', 'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE',
       'PREVCHD', 'PREVAP', 'PREVMI', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD',
        'HDLC','LDLC','DEATH','TIMEMI', 'TIMEMIFC']
PREVSTRK_3_df=PREVSTRK_3_df[PREVSTRK_3_columns]
PREVSTRK_3_df_final = PREVSTRK_3_df.dropna()
PREVSTRK_3_df_final

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVMI,PREVSTRK,PREVHYP,TIME,PERIOD,HDLC,LDLC,DEATH,TIMEMI,TIMEMIFC
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,0,4344,3,54.0,141.0,0,8766,8766
14,11263,2,220.0,55,180.0,106.0,0,0.0,31.17,1,...,0,0,1,4351,3,46.0,135.0,0,8766,5719
19,12806,2,320.0,57,110.0,46.0,1,30.0,22.02,0,...,0,0,0,4289,3,34.0,286.0,0,8766,8766
22,14367,1,280.0,64,168.0,100.0,0,0.0,25.72,0,...,0,0,1,4438,3,44.0,236.0,0,8766,8766
25,16365,1,211.0,55,173.0,123.0,0,0.0,29.11,0,...,0,0,1,4368,3,48.0,163.0,0,8766,8766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11603,9978986,2,243.0,68,110.0,66.0,0,0.0,24.30,0,...,0,0,1,4230,3,65.0,178.0,0,8766,8766
11606,9982118,1,219.0,70,163.5,75.0,0,0.0,25.26,0,...,0,0,1,4429,3,50.0,169.0,1,8457,8457
11615,9990894,2,228.0,60,205.0,100.0,1,20.0,22.37,0,...,0,0,1,4417,3,47.0,181.0,1,6433,6433
11618,9993179,2,251.0,56,145.0,92.0,1,35.0,21.97,0,...,0,0,1,4396,3,70.0,181.0,1,6729,6729
11623,9998212,1,153.0,52,143.0,89.0,0,0.0,25.74,0,...,0,0,1,4538,3,30.0,123.0,0,8766,8766

In [23]:
PREVSTRK_3_df_final.isnull().sum()

RANDID      0
SEX         0
TOTCHOL     0
AGE         0
SYSBP       0
DIABP       0
CURSMOKE    0
CIGPDAY     0
BMI         0
DIABETES    0
BPMEDS      0
HEARTRTE    0
GLUCOSE     0
PREVCHD     0
PREVAP      0
PREVMI      0
PREVSTRK    0
PREVHYP     0
TIME        0
PERIOD      0
HDLC        0
LDLC        0
DEATH       0
TIMEMI      0
TIMEMIFC    0
dtype: int64

In [24]:
PREVSTRK_3_df_final.to_csv("PREVSTRK_period3_data.csv", index = False)