# CVD - Random Forest

In [1]:
from sklearn import tree
import pandas as pd

In [2]:
#read in data set
df = pd.read_csv("Resources/cvd_period1_data.csv")
df.head(20)

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVAP,PREVHYP,DEATH,CVD
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,0,1
1,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0,0,0
2,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0,0
3,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,65.0,103.0,0,1,1,1
4,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0,0,0
5,11263,2,228.0,43,180.0,110.0,0,0.0,30.30,0,0.0,77.0,99.0,0,1,0,1
6,12629,2,205.0,63,138.0,71.0,0,0.0,33.11,0,0.0,60.0,85.0,0,0,0,0
7,12806,2,313.0,45,100.0,71.0,1,20.0,21.68,0,0.0,79.0,78.0,0,0,0,0
8,14367,1,260.0,52,141.5,89.0,0,0.0,26.36,0,0.0,76.0,79.0,0,1,0,0
9,16365,1,225.0,43,162.0,107.0,1,30.0,23.61,0,0.0,93.0,88.0,0,1,0,0
10,16799,2,254.0,50,133.0,76.0,0,0.0,22.91,0,0.0,75.0,76.0,0,0,0,0
11,19304,2,247.0,43,131.0,88.0,0,0.0,27.64,0,0.0,72.0,61.0,0,0,0,0
12,20375,1,294.0,46,142.0,94.0,1,15.0,26.31,0,0.0,98.0,64.0,0,1,0,0
13,23727,2,332.0,41,124.0,88.0,0,0.0,31.31,0,1.0,65.0,84.0,0,1,1,0
14,30928,2,221.0,38,140.0,90.0,1,20.0,21.35,0,0.0,95.0,70.0,0,1,1,0
15,33077,1,232.0,48,138.0,90.0,1,10.0,22.37,0,0.0,64.0,72.0,0,1,0,0
16,33555,2,291.0,46,112.0,78.0,1,20.0,23.38,0,0.0,80.0,89.0,0,0,1,0
17,34689,2,195.0,38,122.0,84.5,1,5.0,23.24,0,0.0,75.0,78.0,0,0,0,0
18,36459,1,195.0,41,139.0,88.0,0,0.0,26.88,0,0.0,85.0,65.0,0,0,0,0
19,40435,2,190.0,42,108.0,70.5,1,30.0,21.59,0,0.0,72.0,85.0,0,0,0,0

In [4]:
df.columns

Index(['RANDID', 'SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE',
       'CIGPDAY', 'BMI', 'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVAP',
       'PREVHYP', 'DEATH', 'CVD'],
      dtype='object')

In [6]:
cvd_df = df.set_index('RANDID')
#Remove columns not involved in analysis
#removed 'Time', 'Period', 'Death', 'MI_FCHD', 'TIMEMI', 'TIMEMIFC'
cvd_df = cvd_df[['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE',
       'CIGPDAY', 'BMI', 'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVAP',
       'PREVHYP', 'CVD']]
cvd_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVAP,PREVHYP,CVD
RANDID,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,1
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,65.0,103.0,0,1,1
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0,0

In [8]:
target = cvd_df["CVD"]
target_names = ["No_CVD", "CVD"]

In [10]:
data = cvd_df.drop("CVD",axis=1)
feature_names = data.columns
data.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVAP,PREVHYP
RANDID,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,65.0,103.0,0,1
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0

In [11]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=49)

In [14]:
from sklearn.ensemble import RandomForestClassifier
# Create, fit, and score a Random Forest Classifier
rf = RandomForestClassifier(n_estimators=500, class_weight = "balanced")
rf = rf.fit(X_train, y_train)

print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 0.7588424437299035

In [15]:
# calculate feature importance
importances = rf.feature_importances_
importances

array([0.03910211, 0.12911212, 0.12488411, 0.13099223, 0.11944571,
       0.01490246, 0.05302541, 0.13356092, 0.00835425, 0.00508823,
       0.10094379, 0.11324558, 0.        , 0.02734309])

In [16]:
# sort the features by their importance
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.13356091522582678, 'BMI'),
 (0.1309922333391864, 'SYSBP'),
 (0.12911211595486563, 'TOTCHOL'),
 (0.12488410826499204, 'AGE'),
 (0.1194457104099529, 'DIABP'),
 (0.11324558219451555, 'GLUCOSE'),
 (0.1009437901345738, 'HEARTRTE'),
 (0.05302540827020205, 'CIGPDAY'),
 (0.03910210642135779, 'SEX'),
 (0.027343094044306016, 'PREVHYP'),
 (0.014902455046149555, 'CURSMOKE'),
 (0.008354250980062412, 'DIABETES'),
 (0.005088229714009139, 'BPMEDS'),
 (0.0, 'PREVAP')]

In [17]:
#Make predictions (0 = no event occurred, 1 = event occurred)
predictions = rf.predict(X_test)
cvd_predictions = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
cvd_predictions

     Prediction  Actual
0             1       0
1             0       1
2             0       0
3             0       0
4             1       0
..          ...     ...
928           0       0
929           0       0
930           0       0
931           0       0
932           1       0

[933 rows x 2 columns]

In [18]:
p0a0 = cvd_predictions.loc[(cvd_predictions['Prediction']==0) & (cvd_predictions['Actual']==0)]
p1a1 = cvd_predictions.loc[(cvd_predictions['Prediction']==1) & (cvd_predictions['Actual']==1)]
p0a1 = cvd_predictions.loc[(cvd_predictions['Prediction']==0) & (cvd_predictions['Actual']==1)]
p1a0 = cvd_predictions.loc[(cvd_predictions['Prediction']==1) & (cvd_predictions['Actual']==0)]

In [20]:
print(f"Event prediction and actual = 0:  {len(p0a0)}")
print(f"Event prediction and actual = 1:  {len(p1a1)}")
print(f"Event prediction = 0 and actual = 1:  {len(p0a1)}")
print(f"Event prediction = 1 and actual = 0:  {len(p1a0)}")

Event prediction and actual = 0:  686
Event prediction and actual = 1:  22
Event prediction = 0 and actual = 1:  204
Event prediction = 1 and actual = 0:  21

## Separate by gender

In [22]:
#filter df by gender (males = 1, females = 2)
male_cvd = cvd_df.loc[(cvd_df["SEX"] ==1)]
female_cvd = cvd_df.loc[(cvd_df["SEX"] ==2)]

In [23]:
male_cvd

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVAP,PREVHYP,CVD
RANDID,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,1
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0
14367,1,260.0,52,141.5,89.0,0,0.0,26.36,0,0.0,76.0,79.0,0,1,0
16365,1,225.0,43,162.0,107.0,1,30.0,23.61,0,0.0,93.0,88.0,0,1,0
20375,1,294.0,46,142.0,94.0,1,15.0,26.31,0,0.0,98.0,64.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982118,1,187.0,58,141.0,81.0,0,0.0,24.96,0,0.0,80.0,81.0,0,1,1
9983319,1,176.0,68,168.0,97.0,0,0.0,23.14,0,0.0,60.0,79.0,0,1,0
9984683,1,313.0,50,179.0,92.0,1,1.0,25.97,0,0.0,66.0,86.0,0,1,1
9989287,1,207.0,51,126.5,80.0,1,43.0,19.71,0,0.0,65.0,68.0,0,0,0
9998212,1,185.0,40,141.0,98.0,0,0.0,25.60,0,0.0,67.0,72.0,0,1,0

In [24]:
male_cvd.columns

Index(['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVAP', 'PREVHYP',
       'CVD'],
      dtype='object')

In [29]:
male_cvd_df = male_cvd.drop('SEX', axis=1)
female_cvd_df = female_cvd.drop('SEX', axis=1)

In [30]:
male_target = male_cvd_df["CVD"]
male_target_names = ["No_CVD", "CVD"]

female_target = female_cvd_df["CVD"]
female_target_names = ["No_CVD", "CVD"]

In [31]:
male_data = male_cvd_df.drop("CVD",axis=1)
male_feature_names = male_data.columns

female_data = female_cvd_df.drop("CVD", axis=1)
female_feature_names = female_data.columns

In [32]:
# Split the data using train_test_split - males
from sklearn.model_selection import train_test_split

mX_train, mX_test, my_train, my_test = train_test_split(male_data, male_target, random_state=49)

In [33]:
# Create, fit, and score a Random Forest Classifier - males
mrf = RandomForestClassifier(n_estimators=500, class_weight = "balanced")
mrf = mrf.fit(mX_train, my_train)

print(f"Training Data Score (males): {mrf.score(mX_train, my_train)}")
print(f"Testing Data Score (males): {mrf.score(mX_test, my_test)}")

Training Data Score (males): 1.0
Testing Data Score (males): 0.6610576923076923

In [34]:
# sort the features by their importance
sorted(zip(mrf.feature_importances_, male_feature_names), reverse=True)

[(0.14064479683109665, 'BMI'),
 (0.13990032743401043, 'SYSBP'),
 (0.13751260031970094, 'TOTCHOL'),
 (0.1354311657111688, 'AGE'),
 (0.11891563080796319, 'DIABP'),
 (0.11601602660499302, 'GLUCOSE'),
 (0.10085091129584932, 'HEARTRTE'),
 (0.06161187576615989, 'CIGPDAY'),
 (0.023049573773357035, 'PREVHYP'),
 (0.013790274939174016, 'CURSMOKE'),
 (0.0065980418112855975, 'BPMEDS'),
 (0.005678774705240984, 'DIABETES'),
 (0.0, 'PREVAP')]

In [36]:
#Make predictions (0 = no event occurred, 1 = event occurred)
m_predictions = mrf.predict(mX_test)
m_cvd_predictions = pd.DataFrame({"Prediction": m_predictions, "Actual": my_test}).reset_index(drop=True)

mp0a0 = m_cvd_predictions.loc[(m_cvd_predictions['Prediction']==0) & (m_cvd_predictions['Actual']==0)]
mp1a1 = m_cvd_predictions.loc[(m_cvd_predictions['Prediction']==1) & (m_cvd_predictions['Actual']==1)]
mp0a1 = m_cvd_predictions.loc[(m_cvd_predictions['Prediction']==0) & (m_cvd_predictions['Actual']==1)]
mp1a0 = m_cvd_predictions.loc[(m_cvd_predictions['Prediction']==1) & (m_cvd_predictions['Actual']==0)]

print(f"Event prediction and actual = 0 (male):  {len(mp0a0)}")
print(f"Event prediction and actual = 1 (male):  {len(mp1a1)}")
print(f"Event prediction = 0 and actual = 1 (male):  {len(mp0a1)}")
print(f"Event prediction = 1 and actual = 0 (male):  {len(mp1a0)}")

Event prediction and actual = 0 (male):  250
Event prediction and actual = 1 (male):  25
Event prediction = 0 and actual = 1 (male):  89
Event prediction = 1 and actual = 0 (male):  52

In [37]:
# Split the data using train_test_split - females

fX_train, fX_test, fy_train, fy_test = train_test_split(female_data, female_target, random_state=49)

In [38]:
# Create, fit, and score a Random Forest Classifier - females
frf = RandomForestClassifier(n_estimators=500, class_weight = "balanced")
frf = frf.fit(fX_train, fy_train)

print(f"Training Data Score (females): {frf.score(fX_train, fy_train)}")
print(f"Testing Data Score (females): {frf.score(fX_test, fy_test)}")

Training Data Score (females): 1.0
Testing Data Score (females): 0.8127413127413128

In [39]:
# sort the features by their importance
sorted(zip(frf.feature_importances_, female_feature_names), reverse=True)

[(0.16086361615733405, 'SYSBP'),
 (0.13472480288674052, 'AGE'),
 (0.12672669186304136, 'TOTCHOL'),
 (0.12435935896869603, 'BMI'),
 (0.11873445656154397, 'DIABP'),
 (0.11812506577126251, 'GLUCOSE'),
 (0.10042066745140565, 'HEARTRTE'),
 (0.04385998067938542, 'CIGPDAY'),
 (0.03922364578820961, 'PREVHYP'),
 (0.01297652799146856, 'DIABETES'),
 (0.012782809673863874, 'CURSMOKE'),
 (0.007202376207048318, 'BPMEDS'),
 (0.0, 'PREVAP')]

In [41]:
#Make predictions (0 = no event occurred, 1 = event occurred)
f_predictions = frf.predict(fX_test)
f_cvd_predictions = pd.DataFrame({"Prediction": f_predictions, "Actual": fy_test}).reset_index(drop=True)

fp0a0 = m_cvd_predictions.loc[(f_cvd_predictions['Prediction']==0) & (f_cvd_predictions['Actual']==0)]
fp1a1 = m_cvd_predictions.loc[(f_cvd_predictions['Prediction']==1) & (f_cvd_predictions['Actual']==1)]
fp0a1 = m_cvd_predictions.loc[(f_cvd_predictions['Prediction']==0) & (f_cvd_predictions['Actual']==1)]
fp1a0 = m_cvd_predictions.loc[(f_cvd_predictions['Prediction']==1) & (f_cvd_predictions['Actual']==0)]

print(f"Event prediction and actual = 0 (female):  {len(fp0a0)}")
print(f"Event prediction and actual = 1 (female):  {len(fp1a1)}")
print(f"Event prediction = 0 and actual = 1 (female):  {len(fp0a1)}")
print(f"Event prediction = 1 and actual = 0 (female):  {len(fp1a0)}")

Event prediction and actual = 0 (female):  327
Event prediction and actual = 1 (female):  7
Event prediction = 0 and actual = 1 (female):  70
Event prediction = 1 and actual = 0 (female):  12