In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Resources/ANG_final_data.csv')
df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,PREVMI,PREVCHD,PREVAP,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,ANGINA,TIMEAP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,0,0,0,0,0,1,0,0,8766
1,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,0,0,0,0,1,0,0,8766
2,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,0,0,0,0,0,0,1,0,0,8766
3,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,0,0,0,0,1,0,1,1,0,2956
4,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,0,0,0,0,0,0,1,0,0,8766

In [3]:
ANG_df = df.set_index('RANDID')
ANG_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,PREVMI,PREVCHD,PREVAP,PREVSTRK,PREVHYP,TIME,PERIOD,DEATH,ANGINA,TIMEAP
RANDID,,,,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,...,0,0,0,0,0,0,1,0,0,8766
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,...,0,0,0,0,1,0,1,1,0,2956
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,...,0,0,0,0,0,0,1,0,0,8766

In [4]:
# Number of hospitalizations for myocardial infarctions and number of non-events
ANG_count=ANG_df.loc[(ANG_df['ANGINA']==1)]
no_event_count = ANG_df.loc[(ANG_df['ANGINA']==0)]

print(f"Subjects afflicted with Angina: {len(ANG_count)}")
print(f"Subjects with no Angina events: {len(no_event_count)}")

Subjects afflicted with Angina: 508
Subjects with no Angina events: 3286

In [5]:
ANG_df.columns

Index(['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVMI', 'PREVCHD',
       'PREVAP', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD', 'DEATH', 'ANGINA',
       'TIMEAP'],
      dtype='object')

In [6]:
ANG_reg_df = ANG_df[['SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE', 'CIGPDAY', 'BMI',
       'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'PREVCHD', 'PREVAP',
       'PREVMI', 'PREVSTRK', 'PREVHYP', 'ANGINA']]
ANG_reg_df.head()

,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,HEARTRTE,GLUCOSE,PREVCHD,PREVAP,PREVMI,PREVSTRK,PREVHYP,ANGINA
RANDID,,,,,,,,,,,,,,,,,,
2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,80.0,77.0,0,0,0,0,0,0
6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,95.0,76.0,0,0,0,0,0,0
9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,75.0,70.0,0,0,0,0,0,0
10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,0.0,65.0,103.0,0,0,0,0,1,0
11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,0.0,85.0,85.0,0,0,0,0,0,0

In [7]:
X = ANG_reg_df.drop('ANGINA', axis=1)
y = ANG_reg_df['ANGINA']
print(X.shape, y.shape)

(3794, 17) (3794,)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [10]:
classifier.fit(X_train, y_train)

C:\Users\mainframe\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [11]:
print(f'Training Data Score: {classifier.score(X_train, y_train)}')
print(f'Testing Data Score: {classifier.score(X_test, y_test)}')

Training Data Score: 0.8615114235500879
Testing Data Score: 0.8798735511064278

In [12]:
predictions = classifier.predict(X_test)
ANG_predictions = pd.DataFrame({'Prediction': predictions, 'Actual': y_test}).reset_index(drop=True)
ANG_predictions

     Prediction  Actual
0             0       1
1             0       0
2             0       0
3             0       0
4             0       0
5             0       0
6             0       0
7             0       0
8             0       1
9             0       1
10            0       0
11            0       0
12            0       0
13            0       0
14            0       0
15            0       0
16            0       0
17            0       0
18            0       0
19            0       0
20            0       0
21            0       0
22            0       1
23            0       0
24            0       0
25            0       0
26            0       0
27            0       0
28            0       0
29            0       0
..          ...     ...
919           0       0
920           0       0
921           0       1
922           0       0
923           0       0
924           0       0
925           0       1
926           0       0
927           0       0
928           0       0
929           0       0
930           0       0
931           0       0
932           0       0
933           0       1
934           0       0
935           0       0
936           0       0
937           0       0
938           0       0
939           0       0
940           0       0
941           0       1
942           0       0
943           0       0
944           0       0
945           0       1
946           0       0
947           0       0
948           0       0

[949 rows x 2 columns]

In [13]:
no_event = ANG_predictions.loc[(ANG_predictions['Prediction']==0) & (ANG_predictions['Actual']==0)]
event = ANG_predictions.loc[(ANG_predictions['Prediction']==1) & (ANG_predictions['Actual']==1)]
p0a1 = ANG_predictions.loc[(ANG_predictions['Prediction']==1) & (ANG_predictions['Actual']==1)]
p1a0 = ANG_predictions.loc[(ANG_predictions['Prediction']==1) & (ANG_predictions['Actual']==0)]

In [14]:
print(f"Event prediction and actual = 0:  {len(no_event)}")
print(f"Event prediction and actual = 1:  {len(event)}")
print(f"Event prediction = 0 and actual = 1:  {len(p0a1)}")
print(f"Event prediction = 1 and actual = 0:  {len(p1a0)}")

Event prediction and actual = 0:  834
Event prediction and actual = 1:  1
Event prediction = 0 and actual = 1:  1
Event prediction = 1 and actual = 0:  0